figure {
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  font-size:16px;
  font-size:1vw;
  width: 80%;
  padding-bottom: 300px;
}
figcaption {
  font-size:1rem;
  text-align:center;
  color:#fff;
  width: 100%;
  position: absolute;
  left: 0;
  top:40%;
  z-index:2;
}
svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
circle {
	fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  -webkit-animation: pie1 3s infinite ease both;
  animation: pie1 6s infinite ease both;
}

.uiux01{
  stroke:#062275;
  -webkit-animation-name: uiux01;
  animation-name: uiux01;
}
.uiux02{
  stroke:#3955a9;
  -webkit-animation-name: uiux02;
  animation-name: uiux02;
}
.web01{
  stroke:#062275;
  -webkit-animation-name: web01;
  animation-name: web01;
}
.web02{
  stroke:#3955a9;
  -webkit-animation-name: web02;
  animation-name: web02;
}
.web03{
  stroke:#7a90d1;
  -webkit-animation-name: web03;
  animation-name: web03;
}
.web04{
  stroke:#afbfee;
  -webkit-animation-name: web04;
  animation-name: web04;
}


/* uiux */
@-webkit-keyframes uiux01 {
  50%,100% {stroke-dasharray: 60,40;}
}
@keyframes uiux01 {
  50%,100% {stroke-dasharray: 60,40;}
} 
@-webkit-keyframes Uuiux02 {
  50%,100% {stroke-dasharray: 0,50,50,0;}
}
@keyframes uiux02 {
  50%,100% {stroke-dasharray: 0,50,50,0;}
}
/* web */
@-webkit-keyframes web01 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
@keyframes web01 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
} 
@-webkit-keyframes web02 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
@keyframes web02 {
  50%,100% {stroke-dasharray: 0,40,30,30;}
}
@-webkit-keyframes web03 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
@keyframes web03 {
  50%,100% {stroke-dasharray: 0,70,20,10;}
}
@-webkit-keyframes web04 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}
@keyframes web04 {
  50%,100% {stroke-dasharray: 0,90,10,0;}
}



