@charset "UTF-8";
@import url("reset.css");
* {
  font-family: "Helvetica Neue", "Tahoma", "Helvetica", "Arial", "WenQuanYi Zen Hei", "Hiragino Sans GB", "LiHei Pro", "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", "sans-serif", "蘋方-繁";
  font-size: 16px;
  color: #303030;
}

body {
  background-color: #eaeaea;
}

.portfolio_frame {
  max-width: 1980px;
  margin: auto;
}
.portfolio_frame h3 {
  text-align: center;
  margin: 80px 0 40px 0;
  font-size: 2rem;
  font-weight: 900;
}
.portfolio_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio_content p {
  margin-bottom: 10px;
}
.portfolio_content .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.portfolio_content .button .btn {
  position: relative;
  overflow: hidden;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #000;
  font-size: 1.25em;
  color: #000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-decoration: none;
  border: 1px solid transparent;
  -o-border-image: linear-gradient(314deg, #000000, #b4b5b5, #000000) 1;
     border-image: linear-gradient(314deg, #000000, #b4b5b5, #000000) 1;
}
.portfolio_content .button .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #000;
  z-index: -1;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.portfolio_content .button .btn:hover::before {
  width: 100%; /* 從左滑到右 */
}
.portfolio_content .button .btn:hover {
  color: #fff;
}
.portfolio_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio_box img {
  width: 100%;
}
.portfolio .UIUX img {
  width: 90%;
  margin-bottom: 20px;
}