@charset "UTF-8";
@import url("reset.css");
* {
  font-family: "Helvetica Neue", "Tahoma", "Helvetica", "Arial", "WenQuanYi Zen Hei", "Hiragino Sans GB", "LiHei Pro", "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", "sans-serif", "蘋方-繁";
  font-size: 16px;
  color: #000;
}

#bgcolor {
  background-color: #fbdce2;
  margin: auto;
}
#bgcolor .header {
  position: fixed;
  background-color: #fbdce2;
  text-align: center;
  width: 100vw;
  z-index: 999;
  display: block;
  padding: 20px 0;
}
#bgcolor .header a, #bgcolor .header .link {
  text-decoration: none;
  margin: 16px 16px 64px 16px;
  font-size: 1.3em;
  font-weight: 900;
  color: #b76474;
}
#bgcolor .header a:hover {
  color: #fff;
}
#bgcolor .kv {
  display: flex;
  align-items: center;
  width: 1024px;
  margin: auto;
  padding-top: 100px;
}
#bgcolor .kv .left {
  width: 70vw;
}
#bgcolor .kv .left .kvconnecticon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#bgcolor .kv .left .kvconnecticon .kvconnecticonbox {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
#bgcolor .kv .left .kvconnecticon .kvconnecticonbox .icon {
  font-size: 1.2em;
  margin-right: 4px;
  color: #062275;
}
#bgcolor .kv .left .kvconnecticon .kvconnecticonbox p {
  color: #062275;
  font-size: 0.85em;
}
#bgcolor .kv .left .kvconnecticon a:hover .icon, #bgcolor .kv .left .kvconnecticon a:hover p {
  color: #fff;
}
#bgcolor .kv .left p {
  line-height: 1.6;
  margin: 0 61px 10px 0;
  font-size: 1rem;
}
#bgcolor .skill, #bgcolor .experience, #bgcolor .portfolio {
  padding: 64px 0;
}
#bgcolor .skill .title, #bgcolor .experience .title, #bgcolor .portfolio .title {
  font-size: 6rem;
  font-weight: 900;
  color: #fff;
  margin: 32px 0;
}
#bgcolor .skill .skillframe, #bgcolor .experience .skillframe, #bgcolor .portfolio .skillframe {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#bgcolor .skill .skillframe .skillbox, #bgcolor .experience .skillframe .skillbox, #bgcolor .portfolio .skillframe .skillbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
#bgcolor .skill .skillframe .skillbox .tip, #bgcolor .experience .skillframe .skillbox .tip, #bgcolor .portfolio .skillframe .skillbox .tip {
  font-size: 0.75em;
}
#bgcolor .skill .skillframe .skillbox .tip ul, #bgcolor .experience .skillframe .skillbox .tip ul, #bgcolor .portfolio .skillframe .skillbox .tip ul {
  display: flex;
}
#bgcolor .skill .skillframe .skillbox .tip ul li, #bgcolor .experience .skillframe .skillbox .tip ul li, #bgcolor .portfolio .skillframe .skillbox .tip ul li {
  margin: 10px 8px 20px 0;
}
#bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(1):before, #bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(2):before, #bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(3):before, #bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(4):before, #bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(5):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(1):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(2):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(3):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(4):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(5):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(1):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(2):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(3):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(4):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(5):before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #062275;
  border-radius: 50%;
  margin-right: 5px;
}
#bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(2):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(2):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(2):before {
  background-color: #3955a9;
}
#bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(3):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(3):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(3):before {
  background-color: #7a90d1;
}
#bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(4):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(4):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(4):before {
  background-color: #afbfee;
}
#bgcolor .skill .skillframe .skillbox .tip ul li:nth-child(5):before, #bgcolor .experience .skillframe .skillbox .tip ul li:nth-child(5):before, #bgcolor .portfolio .skillframe .skillbox .tip ul li:nth-child(5):before {
  background-color: #e4ebff;
}
#bgcolor .skill .skillframe .skillbox .describe, #bgcolor .experience .skillframe .skillbox .describe, #bgcolor .portfolio .skillframe .skillbox .describe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bgcolor .skill .skillframe .skillbox .describe p, #bgcolor .experience .skillframe .skillbox .describe p, #bgcolor .portfolio .skillframe .skillbox .describe p {
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.6;
  color: #474041;
  margin: 4px 0;
}
#bgcolor .skill {
  width: 1024px;
  margin: auto;
}
#bgcolor .experience {
  background-color: #062275;
  overflow: hidden;
}
#bgcolor .experience .title {
  display: flex;
  justify-content: center;
}
#bgcolor .portfolio {
  background-color: #fff;
  color: #062275;
  overflow: hidden;
}
#bgcolor .portfolio .title {
  display: flex;
  justify-content: center;
  color: #062275;
}
#bgcolor .portfolio .portfolioframe {
  max-width: 1024px;
  margin: auto;
}
#bgcolor .portfolio .portfolioframe .headline {
  font-size: 2rem;
  font-weight: 600;
  color: #062275;
  margin: 32px 0;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto 60px auto;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox {
  display: flex;
  flex-direction: column;
  margin: 0 auto 60px auto;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox .text {
  margin: 10px 0;
  font-weight: 600;
  color: #062275;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox .button {
  display: flex;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox .button .btn {
  display: inline-block;
  text-decoration: none;
  color: #062275;
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  border: 1px solid #062275;
  padding: 12px 20px;
  margin: 4px;
  text-decoration: none;
  font-size: 1.25em;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox .button .btn:hover {
  color: #fff;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox .button .btn:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #062275;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.5s;
}
#bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox .button .btn:hover:before {
  width: 180%;
}
#bgcolor .portfolio .portfolioframe .carousel-wrap {
  margin: 0 auto 60px auto;
}
#bgcolor footer {
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bgcolor footer .connect {
  line-height: 1.6;
  margin: 80px 0 40px 0;
  text-align: center;
  display: flex;
}
#bgcolor footer .connect a, #bgcolor footer .connect .connectbox {
  text-decoration: none;
}
#bgcolor footer .connect a .icon, #bgcolor footer .connect .connectbox .icon {
  line-height: 29px;
  font-size: 5em;
  margin: 31px;
  color: #9e9e9e;
}
#bgcolor footer .connect a p, #bgcolor footer .connect .connectbox p {
  color: #9e9e9e;
}
#bgcolor footer .connect a:hover .icon, #bgcolor footer .connect a:hover p {
  color: #fff;
}
#bgcolor footer .copyright {
  font-size: 0.75em;
  padding: 12px;
}

@media screen and (max-width: 1200px) {
  #bgcolor .kv {
    margin: 0 4%;
    width: auto;
  }
  #bgcolor .skill .title, #bgcolor .experience .title, #bgcolor .portfolio .title {
    font-size: 4rem;
  }
  #bgcolor .skill .title {
    margin: 32px 0 32px 4%;
  }
  #bgcolor .portfolio .portfolioframe .headline {
    margin: 32px 0 32px 4%;
  }
}
@media screen and (max-width: 1024px) {
  #bgcolor .skill, #bgcolor .experience, #bgcolor .portfolio {
    padding: 32px 0;
  }
  #bgcolor .kv .left img, #bgcolor .kv .right img {
    width: 100%;
  }
  #bgcolor .kv .left p, #bgcolor .kv .right p {
    margin: 0 10px 10px 0;
  }
  #bgcolor .skill {
    width: auto;
  }
  #bgcolor .skill .skillframe .skillbox {
    width: 300px;
  }
  #bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox {
    width: 40%;
  }
  #bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  #bgcolor .skill, #bgcolor .experience, #bgcolor .portfolio {
    padding: 0;
  }
  #bgcolor .kv {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  #bgcolor .kv .left {
    width: 90vw;
  }
  #bgcolor .kv .right {
    text-align: center;
  }
  #bgcolor .kv .right img {
    width: 80%;
  }
  #bgcolor .skill .skillframe .skillbox {
    margin-bottom: 32px;
  }
  #bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox {
    width: auto;
  }
}
@media screen and (max-width: 550px) {
  #bgcolor .portfolio .portfolioframe .portfoliocontent .portfoliobox {
    width: 80vw;
  }
  #bgcolor footer .connect {
    flex-direction: column;
  }
}/*# sourceMappingURL=portfolio.css.map */